body {
  background-color: #ffffff;
    position: relative;
  overflow-x: hidden;
    background-image: radial-gradient(#ddd 1px, transparent 1px);
  background-size: 20px 20px; 
}
body::before {
  content: "";
  position: fixed;
  width: 300px;
  height: 300px;
  background: #baa676;
  border-radius: 50%;
  top: -80px;
  left: -100px;
  opacity: 0.3;
}

body::after {
  content: "";
  position: fixed;
  width: 400px;
  height: 400px;
  background: #432401;
  border-radius: 50%;
  bottom: -120px;
  right: -150px;
  opacity: 0.2;
}
.header {
  text-align: center;
  color: white;
  line-height: 1.2;
}

.menu {
  font-family: 'Great Vibes', cursive;
  font-size: 30px;
  color: black;
}

.title {
  font-family: "Playfair Display", serif;
  color: rgb(255, 0, 0);
}

.subtitle {
  font-family: "Montserrat", sans-serif;
  color: black;
}

.since {
  font-family: "Great Vibes", cursive;
  color: rgb(255, 60, 0);
}

.line {
  width: 2px;
  background-color: white;
    height: auto;
}
.item {
  background-color: #700505;
  width: 70%;
  margin: 20px auto;
  padding: 20px;
  border-radius: 100px;
  color: white;
  display: flex;
  justify-content:center;
  gap:50px;
}

.item h2 {
  margin: 0;
  color: #000000;
}

.bottom {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  margin-top: 10px;
  padding: 20px;
}


.bottom p {
  margin: 0;
  font-size: 14px;
}

.price {
  font-weight: bold;
  color: #ffffff;
}
.left h2:not(:first-of-type),
.right h2:not(:first-of-type) {
  border-top: 1px dotted white;
  padding-top: 10px;
  margin-top: 10px;
}


